<a href="https://colab.research.google.com/github/hyunseo-hy/FinEng/blob/main/Missing_Value_Imputation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

data = {
    'Samsung': [80000, 81000, np.nan, 80500, np.nan],   # 2일치 누락
    'SK_Hynix': [120000, np.nan, 122000, 121000, 123000], # 1일치 누락
    'Volume': [1000, 2000, 1500, None, 3000]              # None도 NaN으로 변환됨
}

# 2. 날짜 인덱스 만들기
dates = pd.date_range(start='2026-01-20', periods=5)

# 3. 데이터프레임 생성
df = pd.DataFrame(data, index=dates)
print(df)

            Samsung  SK_Hynix  Volume
2026-01-20  80000.0  120000.0  1000.0
2026-01-21  81000.0       NaN  2000.0
2026-01-22      NaN  122000.0  1500.0
2026-01-23  80500.0  121000.0     NaN
2026-01-24      NaN  123000.0  3000.0

In [3]:
print(df)
print(df.isnull().sum())
df = df.fillna(method="ffill")
if df.isnull().values.any():
  df = df.fillna(method="bfill")
print(df)

            Samsung  SK_Hynix  Volume
2026-01-20  80000.0  120000.0  1000.0
2026-01-21  81000.0       NaN  2000.0
2026-01-22      NaN  122000.0  1500.0
2026-01-23  80500.0  121000.0     NaN
2026-01-24      NaN  123000.0  3000.0
Samsung     2
SK_Hynix    1
Volume      1
dtype: int64
            Samsung  SK_Hynix  Volume
2026-01-20  80000.0  120000.0  1000.0
2026-01-21  81000.0  120000.0  2000.0
2026-01-22  81000.0  122000.0  1500.0
2026-01-23  80500.0  121000.0  1500.0
2026-01-24  80500.0  123000.0  3000.0

/tmp/ipython-input-178825179.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method="ffill")